/* COLORS */

%blue-bg-white-text {
  background-color: #50d3ff!important;
  color: white!important;
}

%blue-text {
  color: #50d3ff!important;
}

%black-bg-white-text {
  background-color: black!important;
  color: white!important;
}

%black-text {
  color: black!important;
}






